<?xml version="1.0"?>
<config>
    <modules>
        <Aleron75_UnmergedCart>
            <version>1.1.0</version>
        </Aleron75_UnmergedCart>
    </modules>
    <global>
        <helpers>
            <aleron75_unmergedcart>
                <class>Aleron75_UnmergedCart_Helper</class>
            </aleron75_unmergedcart>
        </helpers>
        <models>
            <aleron75_unmergedcart>
                <class>Aleron75_UnmergedCart_Model</class>
            </aleron75_unmergedcart>
        </models>
        <events>
            <sales_quote_merge_before>
                <observers>
                    <aleron75_unmergedcart>
                        <type>singleton</type>
                        <class>aleron75_unmergedcart/observer_preventMergeQuote</class>
                        <method>observe</method>
                    </aleron75_unmergedcart>
                </observers>
            </sales_quote_merge_before>
        </events>
    </global>
    <default>
        <checkout>
            <cart>
                <aleron75_unmergedcart_merge_type>0</aleron75_unmergedcart_merge_type>
            </cart>
        </checkout>
    </default>
</config>
